<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head th:replace="layout :: site-head">
    <title>Getting Started: Serving Web Content</title>
</head>
<body>

<nav th:replace="layout :: site-header"/>

<header layout:fragment="header">
    <ol class="breadcrumb">
        <li><a th:href="@{/beehive/}" th:text="#{beehive.plural.label}">Home</a></li>
        <li class="active" th:text="#{default.create.label(#{beehive.label})}"></li>
    </ol>

    <h1 th:text="#{default.create.label(#{beehive.label})}"></h1>
</header>

<section layout:fragment="content">
    <form th:action="@{'/beehive/' + ${beehiveAction.beehive.id} + '/feeding/save'}" method="post">
        <fieldset class="form">
            <div class="form-group">
                <label for="date">date</label>
                <input id="date" name="date" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="feed">feed</label>
                <select id="feed" name="feed" class="form-control">
                    <option th:each="beeFeed: ${T(de.alferink.bee.beehive.BeeFeed).values()}"
                            th:value="${beeFeed}"
                            th:text="${beeFeed}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="quantity">quantity</label>
                <input id="quantity" name="quantity" class="form-control"/>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Speichern</button>
    </form>
</section>

</body>
</html>