<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head th:replace="layout :: site-head">
    <title>Getting Started: Serving Web Content</title>
</head>
<body>

<nav th:replace="layout :: site-header"/>

<header layout:fragment="header">
    <ol class="breadcrumb">
        <li><a th:href="@{/beehive/}" th:text="#{beehive.plural.label}">Home</a></li>
        <li><a th:href="@{'/beehive/' + ${beehiveAction.beehive.id}}" th:text="${beehiveAction.beehive.name}">Home</a></li>
        <li class="active" th:text="#{default.show.label(#{beehive.label})}"></li>
    </ol>

    <h1 th:text="#{default.create.label(#{beehive.label})}"></h1>
</header>

<section layout:fragment="content">
    <fieldset class="form">
        <div class="form-group">
            <label for="date">Date</label>
            <input id="date" name="date" class="form-control" readonly="readonly" th:value="${beehiveAction.date}" />
        </div>
    </fieldset>

</section>

</body>
</html>