<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head id="headerFragment" th:fragment="headerFragment">
</head>
<body>

<th:div th:fragment="form(create)">
    <fieldset class="form">
        <div th:class="${#fields.hasErrors('name')}? 'form-group has-error' : 'form-group'">
            <label class="control-label" th:for="name" th:text="#{beehive.name.label}">Name</label>
            <input class="form-control" th:field="*{name}"/>
        </div>
        <div th:class="${#fields.hasErrors('creationAction.date')}? 'form-group has-error' : 'form-group'">
            <label class="control-label" th:for="creationAction.date" th:text="#{beehive.created.label}">Created</label>
            <input class="form-control" th:field="*{creationAction.date}"/>
        </div>
        <div class="form-group">
            <label th:for="hiveType" th:text="#{beehive.hiveType.label}">Hive type</label>
            <select class="form-control" th:field="*{hiveType}">
                <option th:each="type : ${T(de.alferink.bee.beehive.HiveType).values()}"
                        th:value="${type.name()}"
                        th:text="${type}">Wireframe</option>
            </select>
        </div>
        <div class="form-group" th:if="${create}">
            <label th:for="beehive.creationAction.apiary" th:text="#{apiary.label}">apiary</label>
            <select class="form-control" th:field="*{creationAction.apiary}">
                <option value=""></option>
                <option th:each="apiary : ${apiaries}"
                        th:value="${apiary.id}"
                        th:text="${apiary.name}">...
                </option>
            </select>
        </div>
    </fieldset>
</th:div>

</body>
</html>