<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head th:replace="layout :: site-head">
    <title th:text="#{default.show.label(${beehive})}">BeeBee</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<nav th:replace="layout :: site-header"/>

<header layout:fragment="header">
    <ol class="breadcrumb">
        <li><a th:href="@{/beehive/}" th:text="#{beehive.plural.label}">Home</a></li>
        <li class="active dropdown">
            <a id="beehiveDropdown" class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span th:text="${beehive}"></span>
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" aria-labelledby="beehiveDropdown">
                <li th:each="apiarayBeehive: ${beehive.apiary.beehives}">
                    <a href="#"
                       th:href="@{'/beehive/' + ${apiarayBeehive.id}}"
                       th:text="${apiarayBeehive}"></a>
                </li>
            </ul>
        </li>
    </ol>
</header>

<section layout:fragment="content">

    <div class="row">
        <div class="col-sm-6">
            <div class="box">
                <h3 th:text="#{beehive.with.name.label(${beehive.name})}"></h3>

                <div class="toolbar" role="toolbar" aria-label="...">
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="#"
                           th:href="@{'/beehive/edit/' + ${beehive.id} + '/'}"
                           class="btn btn-default"
                           th:text="#{default.button.edit.label}"></a>
                    </div>
                </div>

                <form action="/beehive/save" method="post">
                    <fieldset class="form">
                        <div class="form-group">
                            <label th:text="#{beehive.name.label}">Name</label>
                            <div class="controls" th:text="${beehive.name}"></div>
                        </div>
                        <div class="form-group">
                            <label th:text="#{beehive.created.label}">Created</label>
                            <div class="controls" th:text="${{beehive.created}}"></div>
                        </div>
                        <div class="form-group">
                            <label th:text="#{beehive.color.label}">Color</label>
                            <div class="controls" th:style="' background-color: ' + ${beehive.color}" th:text="${beehive.color}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label th:text="#{beehive.queen.label}">Color</label>
                            <div class="controls" th:text="${beehiveState.queen}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label th:text="#{beehive.hiveType.label}">Hive type</label>
                            <div class="controls" th:text="${beehive.hiveType}"></div>
                        </div>
                        <div class="form-group">
                            <label th:text="#{beehive.broodChamberHoneyChamber.label}">...</label>
                            <div class="controls">
                                <span th:text="${beehiveState.broodChamber}"></span>
                                <span th:text="'(' + ${beehiveState.honeyChamber} + ')'"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label th:text="#{apiary.label}">Apiary</label>
                            <div class="controls">
                                <a th:href="@{'/apiary/' + ${beehive.apiary.id}}" th:text="${beehive.apiary.name}"
                                   th:if="${beehive.apiary}"></a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="box">
                <h3 th:text="#{beehive.statistic.header(${#strings.toString(beehiveStatistic.year)}, ${#strings.toString(beehiveStatisticLastYear.year)})}"></h3>

                <div class="toolbar" role="toolbar" aria-label="...">
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="#"
                           th:href="@{'/beehive/' + ${beehive.id} + '/beehivemeasurements/'}"
                           class="btn btn-default"
                           th:text="#{beehiveBeasurement.plural.label}"></a>
                    </div>
                </div>

                <div class="form-group">
                    <label th:text="#{beehiveStatistic.statistic.avergeRating.label(${#strings.toString(beehiveStatisticLastYear.year)})}">..</label>
                    <div class="controls">
                        <div th:replace="beehiveAction/_show :: rating(${beehiveStatisticLastYear.averageRating})">...
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label th:text="#{beehiveStatistic.honeyQuantity.label}">honeyQuantity</label>
                    <div class="controls">
                        <span th:text="${beehiveStatistic.honeyQuantity}"></span> (<span
                            th:text="${beehiveStatisticLastYear.honeyQuantity}"></span>)
                    </div>
                </div>
                <div class="form-group">
                    <label th:text="#{beehiveStatistic.numberOfTreatmentsFormicAcid.label}">numberOfTreatmentsFormicAcid</label>
                    <div class="controls">
                        <span th:text="${beehiveStatistic.numberOfTreatmentsFormicAcid}"></span> (<span
                            th:text="${beehiveStatisticLastYear.numberOfTreatmentsFormicAcid}"></span>)
                    </div>
                </div>
                <div class="form-group">
                    <label th:text="#{beehiveStatistic.treatmentsWithOxalicAcid.label}">treatmentsWithOxalicAcid</label>
                    <div class="controls">
                        <input type="checkbox" th:checked="${beehiveStatistic.treatmentsWithOxalicAcid}"
                               disabled="disabled"/> (<input type="checkbox"
                                                             th:checked="${beehiveStatisticLastYear.treatmentsWithOxalicAcid}"
                                                             disabled="disabled"/>)
                    </div>

                    <div class="controls">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <a name="actions"></a>
        <h3 th:text="#{beehiveAction.plural.label}"></h3>

        <div class="toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                        <span th:text="#{default.button.create.label}"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li th:each="actionType: ${T(de.alferink.bee.beehive.action.BeehiveActionType).values()}">
                            <a href="#"
                               th:href="@{'/beehive/' + ${beehive.id} + '/' + ${actionType.url} + '/create'}"
                               th:text="#{${actionType.propertyName} + '.label'}"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pull-right">
                <nav aria-label="Page navigation">
                    <ul class="pagination" style="margin-bottom: 0; margin-top: 0;" th:each="year: ${actionsYears}">
                        <li th:class="${year == actionsYear} ? 'active' : ''"><a
                                th:href="'?actionsYear=' + ${year} + '#actions'" th:text="${year}"></a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <table class="table table-striped">
            <tr>
                <th>Datum</th>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>-</th>
            </tr>
            <tbody>
            <tr th:each="beehiveAction: ${beehive.allBeehiveActions}" th:if="${beehiveAction.year == actionsYear}">
                <td th:text="${{beehiveAction.date}}">
                </td>
                <td>
                    <a th:href="@{'/beehive/' + ${beehive.id} + '/' + ${beehiveAction.actionType.url} + '/' + ${beehiveAction.id}}"
                       th:text="${beehiveAction.actionType}"></a>
                </td>
                <td>
                    <div th:replace="beehiveAction/_summary :: ${beehiveAction.actionType.propertyName}">...</div>
                </td>
                <td>
                    <form class="confirm"
                          th:attr="data-confirm-message=#{delete.confirm.message}"
                          th:action="@{'/beehive/' + ${beehive.id} + '/' + ${beehiveAction.actionType.url} + '/delete/' + ${beehiveAction.id}}"
                          method="post">
                        <a th:href="@{'/beehive/' + ${beehive.id} + '/' + ${beehiveAction.actionType.url} + '/edit/' + ${beehiveAction.id} + '/'}"
                           class="btn btn-warning" th:text="#{default.button.edit.label}">Edit</a>
                        <button type="submit" class="btn btn-danger" th:text="#{default.button.delete.label}"
                                th:if="${beehiveAction instanceof T(de.alferink.bee.beehive.action.ChangeBeehiveAction)}">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</section>

</body>
</html>