<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head id="headerFragment" th:fragment="headerFragment">
</head>
<body>

<div th:fragment="feeding">
    <div class="form-group">
        <label for="feed" th:text="#{feeding.feed.label}">Feed</label>
        <input id="feed" name="feed" class="form-control" readonly="readonly" th:value="${beehiveAction.feed}"/>
    </div>
    <div class="form-group">
        <label for="quantity" th:text="#{feeding.quantity.label}">Quantity</label>
        <input id="quantity" name="quantity" class="form-control" readonly="readonly"
               th:value="${beehiveAction.quantity}"/>
    </div>
</div>

<div th:fragment="honeyHarvest">
    <div class="form-group">
        <label for="honeyType" th:text="#{honeyHarvest.honeyType.label}">Feed</label>
        <input id="honeyType" name="honeyType" class="form-control" readonly="readonly"
               th:value="${beehiveAction.honeyType}"/>
    </div>
    <div class="form-group">
        <label for="quantity" th:text="#{honeyHarvest.quantity.label}">Quantity</label>
        <input id="quantity" name="quantity" class="form-control" readonly="readonly"
               th:value="${beehiveAction.quantity}"/>
    </div>
    <div class="form-group">
        <label for="waterContent" th:text="#{honeyHarvest.waterContent.label}">Quantity</label>
        <input id="waterContent" name="waterContent" class="form-control" readonly="readonly"
               th:value="${beehiveAction.waterContent}"/>
    </div>
</div>

<div th:fragment="review">
</div>

<div th:fragment="varroaCheck">
    <div class="form-group">
        <label class="control-label" th:for="quantity" th:text="#{varroaCheck.quantity.label}">Quantity</label>
        <input id="quantity" class="form-control" readonly="readonly" th:value="${beehiveAction.quantity}"/>
    </div>
    <div class="form-group">
        <label class="control-label" th:for="days" th:text="#{varroaCheck.days.label}">Days</label>
        <input id="days" class="form-control" readonly="readonly" th:value="${beehiveAction.days}"/>
    </div>
</div>

<div th:fragment="varroaTreatment">
    <div class="form-group">
        <label th:for="medicine" th:text="#{varroaTreatment.medicine.label}">Medicine</label>
        <input id="medicine" class="form-control" readonly="readonly"
               th:value="#{'varroaTreatmentDrug.' + ${beehiveAction.medicine}  + '.label'}"/>
    </div>
    <div class="form-group">
        <label th:for="method" th:text="#{varroaTreatment.method.label}">Method</label>
        <input id="method" class="form-control" readonly="readonly"
               th:value="#{'varroaTreatmentType.' + ${beehiveAction.method}  + '.label'}"/>
    </div>
    <div class="form-group">
        <label class="control-label" th:for="quantity" th:text="#{varroaTreatment.quantity.label}">Quantity</label>
        <input id="quantity" class="form-control" readonly="readonly" th:value="${beehiveAction.quantity}"/>
    </div>
    <div class="form-group">
        <label class="control-label" th:for="lotNumber" th:text="#{varroaTreatment.lotNumber.label}">Lot number</label>
        <input id="lotNumber" class="form-control" readonly="readonly" th:value="${beehiveAction.lotNumber}"/>
    </div>
</div>

<div th:fragment="queenInstallation">
    <div class="form-group">
        <label class="control-label" th:for="queen.year" th:text="#{queen.year.label}">year</label>
        <input id="queen.year" class="form-control" readonly="readonly" th:field="${beehiveAction.queen.year}"/>
    </div>
    <div class="form-group">
        <label class="control-label" th:for="queen.color" th:text="#{queen.color.label}">year</label>
        <input id="queen.color" class="form-control" readonly="readonly" th:field="${beehiveAction.queen.color}"/>
    </div>
    <div class="form-group">
        <label class="control-label" th:for="queen.breed" th:text="#{queen.breed.label}">year</label>
        <input id="queen.breed" class="form-control" readonly="readonly" th:field="${beehiveAction.queen.breed}"/>
    </div>
    <div class="form-group">
        <label class="control-label" th:for="queen.zeichen" th:text="#{queen.zeichen.label}">year</label>
        <input id="queen.zeichen" class="form-control" readonly="readonly" th:field="${beehiveAction.queen.belegstelle}"/>
    </div>
    <div class="form-group">
        <label class="control-label" th:for="queen.belegstelle" th:text="#{queen.belegstelle.label}">year</label>
        <input id="queen.belegstelle" class="form-control" readonly="readonly" th:field="${beehiveAction.queen.belegstelle}"/>
    </div>
</div>

<div th:fragment="moveBeehive">
    <div class="form-group">
        <label class="control-label" th:for="moveTo" th:text="#{noveBeehive.moveTo.label}">moveTo</label>
        <input id="moveTo" class="form-control" readonly="readonly" th:value="${beehiveAction.moveTo.name}"/>
    </div>
</div>

</body>
</html>