<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head id="headerFragment" th:fragment="headerFragment">
</head>
<body>

<div th:fragment="rating(rating)">
    <table class="table table-condensed">
        <tr th:if="${rating.egg}">
            <td th:text="#{rating.egg.label}"></td>
            <td>
                <select class="form-control rating" disabled="disabled" >
                    <div th:include="beehiveAction/_form :: rating-options(${rating.egg})"></div>
                </select>
            </td>
        </tr>
        <tr th:if="${rating.larva}">
            <td th:text="#{rating.larva.label}"></td>
            <td>
                <select class="form-control rating" disabled="disabled" >
                    <div th:include="beehiveAction/_form :: rating-options(${rating.larva})"></div>
                </select>
            </td>
        </tr>
        <tr th:if="${rating.cellCapped}">
            <td th:text="#{rating.cellCapped.label}"></td>
            <td>
                <select class="form-control rating" disabled="disabled" >
                    <div th:include="beehiveAction/_form :: rating-options(${rating.cellCapped})"></div>
                </select>
            </td>
        </tr>
        <tr th:if="${rating.wabensitz}">
            <td th:text="#{rating.wabensitz.label}"></td>
            <td>
                <select class="form-control rating" disabled="disabled" >
                    <div th:include="beehiveAction/_form :: rating-options(${rating.wabensitz})"></div>
                </select>
            </td>
        </tr>
        <tr th:if="${rating.sanftmut}">
            <td th:text="#{rating.sanftmut.label}"></td>
            <td>
                <select class="form-control rating" disabled="disabled" >
                    <div th:include="beehiveAction/_form :: rating-options(${rating.sanftmut})"></div>
                </select>
            </td>
        </tr>
        <tr th:if="${rating.volksstaerke}">
            <td th:text="#{rating.volksstaerke.label}"></td>
            <td>
                <select class="form-control rating" disabled="disabled" >
                    <div th:include="beehiveAction/_form :: rating-options(${rating.volksstaerke})"></div>
                </select>
            </td>
        </tr>
    </table>
</div>

<div th:fragment="feeding">
    <div class="form-group">
        <label th:text="#{feeding.feed.label}">Feed</label>
        <div class="controls" th:text="${beehiveAction.feed}"></div>
    </div>
    <div class="form-group">
        <label th:text="#{feeding.quantity.label}">Quantity</label>
        <div class="controls" th:text="${beehiveAction.quantity}"></div>
    </div>
</div>

<div th:fragment="honeyHarvest">
    <div class="form-group">
        <label th:text="#{honeyHarvest.honeyType.label}">Feed</label>
        <div class="controls" th:text="${beehiveAction.honeyType}"></div>
    </div>
    <div class="form-group">
        <label th:text="#{honeyHarvest.quantity.label}">Quantity</label>
        <div class="controls" th:text="${beehiveAction.quantity}"></div>
    </div>
    <div class="form-group">
        <label th:text="#{honeyHarvest.waterContent.label}">Quantity</label>
        <div class="controls" th:text="${beehiveAction.waterContent}"></div>
    </div>
</div>

<div th:fragment="review">
</div>

<div th:fragment="varroaCheck">
    <div class="form-group">
        <label class="control-label" th:text="#{varroaCheck.quantity.label}">Quantity</label>
        <div class="controls" th:text="${beehiveAction.quantity}"></div>
    </div>
    <div class="form-group">
        <label class="control-label" th:text="#{varroaCheck.days.label}">Days</label>
        <div class="controls" th:text="${beehiveAction.days}"></div>
    </div>
</div>

<div th:fragment="varroaTreatment">
    <div class="form-group">
        <label th:text="#{varroaTreatment.medicine.label}">Medicine</label>
        <div class="controls" th:text="${beehiveAction.medicine}"></div>
    </div>
    <div class="form-group">
        <label th:text="#{varroaTreatment.method.label}">Method</label>
        <div class="controls" th:text="${beehiveAction.method}"></div>
    </div>
    <div class="form-group">
        <label class="control-label" th:text="#{varroaTreatment.quantity.label}">Quantity</label>
        <div class="controls" th:text="${beehiveAction.quantity}"></div>
    </div>
    <div class="form-group">
        <label class="control-label" th:text="#{varroaTreatment.lotNumber.label}">Lot number</label>
        <div class="controls" th:text="${beehiveAction.lotNumber}"></div>
    </div>
</div>

<div th:fragment="queenInstallation">
    <div class="form-group">
        <label class="control-label" th:text="#{queen.year.label}">year</label>
        <div class="controls" th:text="${beehiveAction.queen.year}"></div>
    </div>
    <div class="form-group">
        <label class="control-label" th:text="#{queen.color.label}">year</label>
        <div class="controls" th:text="${beehiveAction.queen.color}"></div>
    </div>
    <div class="form-group">
        <label class="control-label" th:text="#{queen.breed.label}">year</label>
        <div class="controls" th:text="${beehiveAction.queen.breed}"></div>
    </div>
    <div class="form-group">
        <label class="control-label" th:text="#{queen.zeichen.label}">year</label>
        <div class="controls" th:text="${beehiveAction.queen.zeichen}"></div>
    </div>
    <div class="form-group">
        <label class="control-label" th:text="#{queen.belegstelle.label}">year</label>
        <div class="controls" th:text="${beehiveAction.queen.belegstelle}"></div>
    </div>
</div>

<div th:fragment="moveBeehive">
    <div class="form-group">
        <label class="control-label" th:text="#{noveBeehive.moveTo.label}">moveTo</label>
        <div class="controls" th:text="${beehiveAction.moveTo.name}"></div>
    </div>
</div>

<div th:fragment="creation">
    <div class="form-group">
        <label class="control-label" th:for="moveTo" th:text="#{apiary.label}">moveTo</label>
        <div class="controls" th:text="${beehiveAction.apiary} ? ${beehiveAction.apiary.name}"></div>
    </div>
</div>

</body>
</html>