<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head th:replace="layout :: site-head">
    <title th:text="#{default.show.label(${beehiveAction.actionType})}">BeeBee</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<nav th:replace="layout :: site-header"/>

<header layout:fragment="header">
    <ol class="breadcrumb">
        <li><a th:href="@{/beehive/}" th:text="#{beehive.plural.label}">Beehives</a></li>
        <li><a th:href="@{'/beehive/' + ${beehiveAction.beehive.id}+ '/'}"
               th:text="#{beehive.with.name.label(${beehiveAction.beehive.name})}">Beehive</a></li>
        <li class="active"
            th:text="#{default.show.label(${beehiveAction.actionType})}"></li>
    </ol>
</header>

<section layout:fragment="content">

    <div class="box">
        <h3 th:text="#{default.show.label(${beehiveAction.actionType})}"></h3>
        <fieldset class="form">
            <div class="form-group">
                <label class="control-label" for="date" th:text="#{beehiveAction.date.label}">Date</label>
                <input id="date" name="date" class="form-control" readonly="readonly"
                       th:value="${{beehiveAction.date}}"/>
            </div>
            <div th:replace="beehiveAction/_show :: ${beehiveAction.actionType.propertyName}">...</div>
            <div class="form-group">
                <label class="control-label" for="notes" th:text="#{beehiveAction.notes.label}">Notes</label>
                <textarea id="notes" name="notes" class="form-control" readonly="readonly"
                          th:value="${{beehiveAction.notes}}" rows="3"/>
            </div>
        </fieldset>
    </div>
</section>

</body>
</html>